<article>
<h2><strong><%= t('.title') %></strong></h2>
<table>
  <tr>
    <th><%= t('.quiz') %></th>
    <th><%= t('.language') %></th>
  </tr> 
  <%= render(list.line_items) %>  
</table>
<%= button_to t('.empty'), list,
  method: :delete,
  data: { confirm: 'Are you sure?' } %>
</article>

