<p id="notice"><%= notice %></p>

<h1>Quizzes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
      <th>Difficulty level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quizzes.each do |quiz| %>
      <tr>
        <td><%= quiz.title %></td>
        <td><%= quiz.description %></td>
        <td><%= quiz.user_id %></td>
        <td><%= quiz.difficulty_level %></td>
        <td><%= link_to 'Show', quiz %></td>
        <td><%= link_to 'Edit', edit_quiz_path(quiz) %></td>
        <td><%= link_to 'Destroy', quiz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Quiz', new_quiz_path, method: :get, class: "new_quiz" %>

<h1>Number of Quizzes per Language</h1>

<table>
  <thead>
    <tr>
      <th>Language</th>
      <th>Number of Quizzes</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @quizzes_per_language.each do |key, value| %>
      <tr>
        <td><%= key %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


