<%= form_with(model: [quiz, attempt], local: true, method: :patch) do |form| %>

  <h1><%= @attempt.quiz.title %></h1>
  <% counter = 1 %>
  <% @attempt.quiz.questions.each do |question| %>
    <h2>Q<%=counter%>: <%= question.question%></h2>
    <% @answers[0].each do |answer| %>
      <input type="radio" name=quiz[questions_attributes][][question]> <%= answer[0] %> <br>
    <% end %>
    <% counter +=1 %>
    <% @answers.shift %>
  <% end %>
  <div class="actions">
    <%= form.submit "Submit Quiz", remote: true%> 
  </div>
<% end %>
