<p id="notice"><%= notice %></p>

<h1>Attempts</h1>

<table>
  <thead>
    <tr>
      <th>Quiz</th>
      <th>User</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attempts.each do |attempt| %>
      <tr>
        <td><%= attempt.quiz_id %></td>
        <td><%= attempt.user_id %></td>
        <td><%= attempt.score %></td>
        <td><%= link_to 'Show', attempt %></td>
        <td><%= link_to 'Edit', edit_attempt_path(attempt) %></td>
        <td><%= link_to 'Destroy', attempt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Attempt', new_attempt_path %>

<h1>Average Score Per User</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Average Score</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @average_score_per_user.each do |key, value| %>
      <tr>
        <td><%= key %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Top 3 Scoring Quizzes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Average User Score</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @average_score_per_quiz.each do |key, value| %>
      <tr>
        <td><%= key %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


