<!DOCTYPE html>
<html>
  <head>
    <title>Hanji-Go</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>"; 
      I18n.locale = "<%= I18n.locale %>";
    </script>
  </head>

  <body>
    <header class="main">
      <h1><%= @page_title %></h1>
      <aside>
        <%= form_tag explore_index_path, class: 'locale' do %> 
          <%= select_tag 'set_locale',
            options_for_select(LANGUAGES, I18n.locale.to_s),
            onchange: 'this.form.submit()' %>
          <%= submit_tag 'submit', id: "submit_locale_change" %>
        <% end %> 
      </aside>
    </header>
    <section class="content">
      <nav class="side_nav">
        <% if @list %>
          <div id="list" class="lists"> 
          <%= render_if @list && @list.line_items.any?, @list %>
          </div>
        <% end %>

        <ul>
          <li><a href="/"><%= t('.home') %></a></li>
        </ul>
        <% if session[:user_id] %> 
          <nav class="logged_in_nav">
          <ul>
            <li><%= link_to 'Your Quizzes', quizzes_path %></li> 
            <li><%= button_to 'Logout', logout_path, method: :delete  %></li>
          </ul>
      </nav>
      <% end %>
      </nav>
      <main class='<%= controller.controller_name %>'>
        <%= yield %>
    </body>
  </section>
</html>
