<!DOCTYPE html>
<html>
  <head>
    <title>Hanji-Go</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main">
      <h1><%= @page_title %></h1>
    </header>
    <section class="content">
      <nav class="side_nav">
        <% if @list %>
          <div id="list" class="lists"> 
          <%= render_if @llistt && @list.line_items.any?, @list %>
          </div>
        <% end %>
        <ul>
        <li><a href="/">Home</a></li>
        </ul>
        <% if session[:user_id] %> 
          <nav class="logged_in_nav">
          <ul>
            <li><%= link_to 'Your Profile', questions_path %></li>
            <li><%= link_to 'Your Quizzes', quizzes_path %></li> 
            <li><%= button_to 'Logout', logout_path, method: :delete  %></li>
          </ul>
      </nav>
      <% end %>
      </nav>
      <main class='<%= controller.controller_name %>'>
        <%= yield %>
    </body>
  </section>
</html>
